/* НЕ ЗАБУДЬ ИХ ДОБАВИТЬ ХО ВСЕМ ТАЙТЛАМ */
/* mixin title-text */
h1,
h2 {
    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* mixin title-bottom */
h2 {
    margin-bottom: 50px;
}

