.hero {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    color: var(--dark-section-text-color);
    background-color: var(--opacity-section-color);

    background-image: linear-gradient(
        var(--opacity-section-color), 
        var(--opacity-section-color)), 
        url(../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
// mixin
.hero .container {
    padding-top: 200px;
    padding-bottom: 200px;
}
//   mixin  // 
.hero-title {
    width: 696px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    
    color: var(--dark-section-text-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
}